In [160]:
#-*- coding=utf-8 -*-
import pandas as pd
import os
import codecs
import csv

In [166]:
folder_name = 'wacai_2014-11-2015-10.csv'
spent = u'支出-Table 1.csv'
income = u'收入-Table 1.csv'
spent_renames = {'支出大类':u'类别', u'支出小类':u'子类别',u'消费金额':u'金额', '消费日期':u'日期'}
income_renames = {'收入大类':u'类别', '账户':u'子类别', '收入日期':u'日期',u'收入金额':u'金额'}
spent_drops = ['账户', '币种','项目','商家','报销','成员金额','账本','备注']
income_drops = ['币种','项目','付款方','成员金额','账本','备注']
mysql_prefix = 'mysql-' + folder_name.split('.')[0].split('_')[1]
spent_out_file = mysql_prefix + '-spent.csv'
income_out_file = mysql_prefix + '-income.csv'
spent_file = folder_name + os.path.sep + spent
income_file = folder_name + os.path.sep + income

In [167]:
df_spent = pd.read_csv(spent_file)
df_spent.rename(index=str, columns=spent_renames, inplace=True)
df_spent = df_spent.drop(spent_drops, axis=1)
df_spent['收支'] = '支出'
df_spent['金额'] = df_spent['金额'].apply(lambda x: float(x.replace(',', '')))
f = codecs.open(spent_out_file, 'w', 'utf_8_sig')  
wr = csv.writer(f)
#wr.writerow(['类别','子类别','日期','金额','收支'])
for i, r in df_spent.iterrows():
    wr.writerow(r)
f.close()  
#df_spent.to_csv(spent_out_file, index=False)
#sinstance(df_spent['收支'][0], gbk)
dd = pd.read_csv(spent_out_file)

In [165]:
df_income = pd.read_csv(income_file)
df_income.rename(index=str, columns=income_renames, inplace=True)
df_income = df_income.drop(income_drops, axis=1)
df_income['收支'] = '收入'
df_income['金额'] = df_income['金额'].apply(lambda x: float(x.replace(',', '')))
f = codecs.open(income_out_file, 'w', 'utf_8_sig')  
wr = csv.writer(f)
#wr.writerow(['类别','子类别','日期','金额','收支'])
for i, r in df_income.iterrows():
    wr.writerow(r)
f.close()  
#df_spent.to_csv(spent_out_file, index=False)
#sinstance(df_spent['收支'][0], gbk)
dd = pd.read_csv(income_out_file)
dd.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>工资薪水</th>
      <th>现金</th>
      <th>2016-10-26 20:56:17</th>
      <th>20221.5</th>
      <th>收入</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>退款返款</td>
      <td>现金</td>
      <td>2016-10-26 15:15:46</td>
      <td>1000.0</td>
      <td>收入</td>
    </tr>
    <tr>
      <th>1</th>
      <td>福利补贴</td>
      <td>现金</td>
      <td>2016-10-25 14:45:17</td>
      <td>7200.0</td>
      <td>收入</td>
    </tr>
    <tr>
      <th>2</th>
      <td>退款返款</td>
      <td>现金</td>
      <td>2016-10-25 14:13:46</td>
      <td>500.0</td>
      <td>收入</td>
    </tr>
    <tr>
      <th>3</th>
      <td>退款返款</td>
      <td>现金</td>
      <td>2016-10-25 13:53:18</td>
      <td>708.0</td>
      <td>收入</td>
    </tr>
    <tr>
      <th>4</th>
      <td>报销款</td>
      <td>现金</td>
      <td>2016-10-23 16:42:23</td>
      <td>2463.5</td>
      <td>收入</td>
    </tr>
  </tbody>
</table>
</div>